@import './VueTimepicker.css';
@import './vue-select.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


.break-words-fixed {
    word-break: break-word;
    overflow-wrap: break-word;
}
