name: deploy
on:
  push:
    branches:
      - master
jobs:
  tests:
    uses: './.github/workflows/test.yml'
  build:
    name: build
    # needs: [ tests ]
    runs-on: ubuntu-latest

    steps:
      - uses: shivammathur/setup-php@b7d1d9c9a92d8d8463ce36d7f60da34d461724f8
        with:
          php-version: '8.2'
      - uses: actions/checkout@v2
      - name: Setup Node.js environment
        uses: actions/setup-node@v2.1.4
        with:
          node-version: '18.13.0'
      - name: Install pnpm
        run: npm i -g pnpm
      - name: Install Javascript Dependencies
        run: pnpm i
      - name: Build Javascript
        run: pnpm prod
      - name: Copy .env
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"
      - name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
      - name: Generate key
        run: php artisan key:generate
      - name: Directory Permissions
        run: chmod -R 777 storage bootstrap/cache
      - name: Clearing old temp folder
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: github
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: rm -rf /home/github/temp
      - name: SCP project into server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: github
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          source: "./*"
          target: "/home/github/temp"
      #- name: insert the real .env credentials
      # Copy /var/www/growth-sesions/.env into the temp folder. Overwrite it.
      - name: executing remote ssh commands using ssh key
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: github
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: sh ./temp/scripts/deploy.sh
